# VITE_API_BASE_URL=http://localhost:8080/api
VITE_API_BASE_URL=https://www.smithgroupmarketing.com/api


APP_NAME=Mattress 2 Go
APP_ENV=production
VITE_APP_EMAIL=mattressmagicoffice@gmail.com
VITE_APP_CONTACT_NUMBER=(480) 705-0700
VITE_APP_CONTACT_ADDRESS=8475 S Emrald Drive, Tempe AZ, 85284